* {
  margin: 0;
  padding: 0;
}
body {
  font-size: 15px;
  font-family: "Spartan", sans-serif;
  color: #501e50;
  text-align: center;
}
h1 {
  padding: 10% 4% 1em 4%;
}

p {
  color: #8f7e90;
  line-height: 1.6em;
  font-weight: 500;
  margin: 0 4%;
}

div.whole-page {
  background-image: url(./images/bg-pattern-top-mobile.svg);
  background-repeat: no-repeat;
  background-position: left;
}

.header {
  margin-bottom: 2em;
}

.five-stars-container {
  margin-bottom: 3em;
}

.stars-single {
  background-color: #f7f2f8;
  border-radius: 0.5em;
  margin: 1em 4% 1em;
  padding: 1em;
}

.stars-single > p {
  font-weight: 700;
  color: #501e50;
}

.star-image > img {
  margin: 0em 5px 0.5em 0;
}

.verified-single {
  background-color: #501e50;
  border-radius: 0.5em;
  padding: 30px;
  margin: 1em 4%;
}

.heading > img {
  border-radius: 5em;
  float: left;
  width: 50px;
}

.heading > p.title {
  float: left;
  color: #f7f2f8;
}

.heading > p.title > span {
  color: #c4649d;
  display: block;
  padding-left: 10px;
}

.clearfix {
  overflow: auto;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

div.content > p {
  margin-top: 2.5em;
  color: #f7f2f8;
  text-align: left;
}

@media only screen and (min-width: 1080px) {
  div.whole-page {
    background-image: url(./images/bg-pattern-top-desktop.svg),
      url(./images/bg-pattern-bottom-desktop.svg);
    background-position: left top, right bottom;
    background-repeat: no-repeat, no-repeat;
  }
  .top-half {
    display: flex;
    gap: 50px;
  }
  .header {
    flex: 1;
    text-align: left;
  }
  .header > h1 {
    font-size: 2.5em;
    padding-bottom: 0;
  }
  .five-stars-container {
    flex: 1;
  }

  .verified-buyers {
    display: flex;
    gap: 2%;
  }
  .verified-single {
    margin: 0;
  }
  .verified-single:nth-of-type(1) {
    margin-left: 10%;
    margin-bottom: 3%;
  }
  .verified-single:nth-of-type(2) {
    margin-top: 3%;
  }
  .verified-single:nth-of-type(3) {
    margin-top: 6%;
    margin-bottom: -3%;
    margin-right: 10%;
  }

  div.header {
    margin: 10% 0 0 10%;
  }
  .five-stars-container {
    margin: 10% 10% 0 0;
  }
  h1 {
    padding: 0;
  }
  p {
    margin: 0;
  }

  .star-image > img {
    float: left;
  }

  .stars-single:nth-of-type(1) {
    margin-top: 0;
    margin-right: 20%;
  }
  .stars-single:nth-of-type(2) {
    margin: 0 10%;
  }
  .stars-single:nth-of-type(3) {
    margin-right: 0%;
    margin-left: 20%;
  }
}
